<section class="container">
    <h1>Modal</h1>
    <hr>
    <p>
        <button type="button" class="btn btn-default" (click)="modal.open()">Open me!</button>
        <button type="button" class="btn btn-default" (click)="modal.open('lg')">Large modal</button>
        <button type="button" class="btn btn-default" (click)="modal.open('sm')">Small modal</button>
        <button type="button" class="btn btn-default" (click)="noKeyboardModal.open()">Static</button>
        <button type="button" class="btn btn-default" (click)="navigateModal.open()">Navigation Modal</button>
    </p>
    <p>
        <button type="button" class="btn btn-default" (click)="animationsEnabled = !animationsEnabled">Toggle Animation ({{ animationsEnabled }})</button>
        <button type="button" class="btn btn-default" (click)="open()">Open from component</button>
    </p>
    <p [hidden]="!selected">Selection from modal: {{ selected }}</p>

    <modal [animation]="animationsEnabled" (onClose)="closed()" (onDismiss)="dismissed()" #modal>
        <modal-header [show-close]="true">
            <h4 class="modal-title">I'm a modal!</h4>
        </modal-header>
        <modal-body>
            <ul>
                <li *ngFor="#item of items">
                    <a href="#" (click)="$event.preventDefault(); modalSelected = item">{{ item }}</a>
                </li>
            </ul>
            Selected: <b>{{ modalSelected }}</b>
        </modal-body>
        <modal-footer [show-default-buttons]="true"></modal-footer>
    </modal>

    <modal [animation]="animationsEnabled" [keyboard]="false" [backdrop]="'static'" (onClose)="closed()" (onDismiss)="dismissed()" #noKeyboardModal>
        <modal-header [show-close]="false">
            <h4 class="modal-title">Can't close me with your keyboard!</h4>
        </modal-header>
        <modal-body>
            <ul>
                <li *ngFor="#item of items">
                    <a href="#" (click)="$event.preventDefault(); modalSelected = item">{{ item }}</a>
                </li>
            </ul>
            Selected: <b>{{ modalSelected }}</b>
        </modal-body>
        <modal-footer [show-default-buttons]="true"></modal-footer>
    </modal>

    <modal [animation]="animationsEnabled" (onClose)="navigate()" #navigateModal>
        <modal-header [show-close]="true">
            <h4 class="modal-title">I'm a modal!</h4>
        </modal-header>
        <modal-body>
            <p>I will navigate to another route when you close the modal.</p>
        </modal-body>
        <modal-footer>
            <button type="button" class="btn btn-default" data-dismiss="modal" (click)="navigateModal.dismiss()" [hidden]="!showDefaultButtons">Close</button>
            <button type="button" class="btn btn-primary" autofocus (click)="navigateModal.close()" [hidden]="!showDefaultButtons">Go</button>
        </modal-footer>
    </modal>
</section>