<section class="container">
    <h1>Angular2 Bootstrap Modal</h1>
    <hr>

    <h2>Configuration</h2>
    <hr>
    <p>
        <button type="button" class="btn btn-default" (click)="animation = !animation">Toggle Animation ({{ animation }})</button>
        <button type="button" class="btn btn-default" (click)="keyboard = !keyboard">Toggle Keyboard ({{ keyboard }})</button>
        <button type="button" class="btn btn-default" (click)="index = index + 1; backdrop = backdropOptions[index%3]">Toggle Backdrop ({{ backdrop }})</button>
        <button type="button" class="btn btn-default" (click)="cssClass = css ? '' : 'red-text'; css = !css">Toggle CSS Class ({{ cssClass ? cssClass : 'none' }})</button>
    </p>
    <br />

    <h2>Common Usage</h2>
    <hr>
    <p>
        <button type="button" class="btn btn-default" (click)="modal.open()">Open me!</button>
        <button type="button" class="btn btn-default" (click)="modal.open('lg')">Large modal</button>
        <button type="button" class="btn btn-default" (click)="modal.open('sm')">Small modal</button>
    </p>
    <br />

    <h2>Other Usages</h2>
    <hr>
    <p>
        <button type="button" class="btn btn-default" (click)="navigateModal.open()">Navigate in modal</button>
        <button type="button" class="btn btn-default" (click)="open()">Open from parent component</button>
        <button type="button" class="btn btn-default" (click)="parentModal.open()">Nested modals</button>
        <button type="button" class="btn btn-default" (click)="validationModal.open()">With form validation</button>
    </p>
    <br />

    <h2>Output</h2>
    <pre>{{ output }}</pre>

    <modal [animation]="animation" [keyboard]="keyboard" [backdrop]="backdrop" (onClose)="closed()" (onDismiss)="dismissed()"
        (onOpen)="opened()" [cssClass]="cssClass" #modal  >
        <modal-header [show-close]="true">
            <h4 class="modal-title">I'm a modal!</h4>
        </modal-header>
        <modal-body>
            <ul>
                <li *ngFor="let item of items">
                    <a href="#" (click)="$event.preventDefault(); selected = item">{{ item }}</a>
                </li>
            </ul>
            <p *ngIf="selected">Selected: <b>{{ selected }}</b></p>
        </modal-body>
        <modal-footer [show-default-buttons]="true"></modal-footer>
    </modal>

    <modal [animation]="animation" [keyboard]="keyboard" [backdrop]="backdrop" (onClose)="navigate()" (onOpen)="opened()" [cssClass]="cssClass" #navigateModal>
        <modal-header [show-close]="true">
            <h4 class="modal-title">I'm a modal!</h4>
        </modal-header>
        <modal-body>
            <p>I will navigate to another route when you close the modal.</p>
        </modal-body>
        <modal-footer>
            <button type="button" class="btn btn-default" data-dismiss="modal" (click)="navigateModal.dismiss()">Close</button>
            <button type="button" class="btn btn-primary" autofocus (click)="navigateModal.close()">Go</button>
        </modal-footer>
    </modal>

    <modal style="z-index: 1049" [animation]="animation" [keyboard]="keyboard" [backdrop]="backdrop" (onClose)="closed()" (onDismiss)="dismissed()"
        (onOpen)="opened()" [cssClass]="cssClass" #parentModal>
        <modal-header [show-close]="true">
            <h4 class="modal-title">I'm a modal!</h4>
        </modal-header>
        <modal-body>
            <p><strong>Note:</strong> My <code>z-index</code> is set to <code>1049</code>.</p>
            <button type="button" class="btn btn-default" (click)="modal.open()">Open another modal</button>
        </modal-body>
        <modal-footer>
            <button type="button" class="btn btn-default" data-dismiss="modal" (click)="parentModal.dismiss()">Cancel</button>
            <button type="button" class="btn btn-primary" (click)="parentModal.close()">Ok</button>
        </modal-footer>
    </modal>

    <modal [animation]="animation" [keyboard]="keyboard" [backdrop]="backdrop" (onClose)="closed()" (onDismiss)="dismissed()"
        (onOpen)="opened()" [cssClass]="cssClass" #validationModal>
        <form #modalForm="ngForm">
            <modal-header [show-close]="true">
                <h4 class="modal-title">I'm a modal!</h4>
            </modal-header>
            <modal-body>
                <div class="form-group">
                    <label for="firstName">First Name</label>
                    <input type="text" class="form-control" required [(ngModel)]="model.firstName" name="firstName" id="firstName">
                </div>
                <div class="form-group">
                    <label for="lastName">Last Name</label>
                    <input type="text" class="form-control" required [(ngModel)]="model.lastName" name="lastName" id="lastName">
                </div>
            </modal-body>
            <modal-footer>
                <button type="button" class="btn btn-default" data-dismiss="modal" (click)="validationModal.dismiss()">Cancel</button>
                <button type="button" class="btn btn-primary" [disabled]="!modalForm.valid" (click)="validationModal.close()">Save</button>
            </modal-footer>
        </form>
    </modal>
</section>